{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
    <!-- Job Detail Start -->
        <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="container">
                <div class="row gy-5 gx-4">
                    <div class="col-lg-8">
                        <div class="d-flex align-items-center mb-5">
                            <img class="flex-shrink-0 img-fluid border rounded" src="maquette/front/img/com-logo-1.jpg" alt="" style="width: 80px; height: 80px;">
                            <div class="text-start ps-4">
                                <h3 class="mb-3">{{post.title}}</h3>
                                <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>{{ post.recruiter.enterpriseName }}</span>
                                <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>Full Time</span>
                                <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>$123 - $456</span>
                                <span class="text-truncate me-3 "><i class="fa fa-user text-success ms-2"></i><span class="me-2"> Recruiter </span>: {{post.recruiter.username}}</span>
                            </div>
                        </div>

                        <div class="mb-5">
                            <h4 class="mb-3">Job description</h4>
                            <p>{{post.description}}</p>
                        
                            <h4 class="mb-3">Qualifications</h4>
                            <p>These are a few of the post's requirements</p>
                            <ul class="list-unstyled">
                                {% for criterion in post.criterias %}
                                <li><i class="fa fa-angle-right text-primary me-2"></i>Experience: {{ criterion.experience }}</li>
                                <li><i class="fa fa-angle-right text-primary me-2"></i>Certifications: {{ criterion.certifs ? criterion.certifs|json_encode : '' }}</li>
                                <li><i class="fa fa-angle-right text-primary me-2"></i>Languages: {{ criterion.languages ? criterion.languages|json_encode : '' }}</li>
                                <li><i class="fa fa-angle-right text-primary me-2"></i>Skills: {{ criterion.skills ? criterion.skills|json_encode : '' }}</li>
                                <li><i class="fa fa-angle-right text-primary me-2"></i>Academic Level: {{ criterion.level }}</li>
                                {% endfor %}
                            </ul>
                        </div>
        
                        <div class="">
                            <h4 class="mb-4">Apply For The Job</h4>
                            <form>
                                <div class="row g-3">
                                    <div class="col-12 col-sm-6">
                                        <input type="file" class="form-control bg-white">
                                    </div>
                                    <div class="col-12">
                                        <button class="btn btn-primary w-100" type="submit">Apply Now</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
        
                    <div class="col-lg-4">
                        <div class="bg-light rounded p-5 mb-4 wow slideInUp" data-wow-delay="0.1s">
                            <h4 class="mb-4">Job Summery</h4>
                            <p><i class="fa fa-angle-right text-primary me-2"></i>Published On: 01 Jan, 2045</p>
                            <p><i class="fa fa-angle-right text-primary me-2"></i>Vacancy: 123 Position</p>
                            <p><i class="fa fa-angle-right text-primary me-2"></i>Job Nature: Full Time</p>
                            <p><i class="fa fa-angle-right text-primary me-2"></i>Salary: $123 - $456</p>
                            <p><i class="fa fa-angle-right text-primary me-2"></i>Location: New York, USA</p>
                            <p class="m-0"><i class="fa fa-angle-right text-primary me-2"></i>Date Line: 01 Jan, 2045</p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- Job Detail End -->
   <br>
    {% if is_granted('ROLE_RECRUITER') %}
    <a href="{{ path('app_post_index') }}">back to list of posts</a>

    <a href="{{ path('app_post_edit', {'id': post.id}) }}">edit post</a>

    <a href="{{path('app_criteria_new_from_post',{'id':post.id})}}">add Criteria for post {{post.title}}</a>

    {{ include('post/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
